.body{

  background-color: #945D60;
}
.count{

  color: white; font-size: 20px; font-weight: bold;
}
.table{

  border: 2px solid #FFB74D;background-color: #FFE0B2;
}
.tablehead{

  background-color: #FFFDB9 !important;
}
.tablehead,th{

  background-color: #FFFDB9 !important;
  font-size: 19px !important;
  font-family: sans-serif !important;
}

.tablehead,b{

  font-size: 19px;font-family: sans-serif;
}
.tdwidth{

  width: 6% !important;
}
.queswidth{

  color: black;
  font-size:18px;
  width: 23% !important;
  text-align: justify;
}

.emotionfont{

  font-size: 30px;
  font-weight: 700 !important;
}

.emotional{
  font-size: 25px;
}

.submit{

  text-align: center;
}
.headerword{

  font-size: 22px;font-family: sans-serif; color: white; font-weight: bold;
}

.progress-bar{

  background-color: #FFB74D !important;
  line-height:19px !important;
}
.progress{

height: 28px !important;
line-height:19px !important;
    background: transparent !important;
}
.mz-controls p {
  margin-bottom: 0px;
}
.mz-controls input[type=radio] {
  opacity: 0;
  position: relative;
  z-index: 222;
  top: 7px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.mz-controls input[type=radio] + label {
  position: relative;
  z-index: 111;
  height: 10px;
  line-height: 25px;
  font-size: 14px;
  transition: .2s ease-in;
  padding-right: 1em;
}
.mz-controls input[type=radio] + label:before, .mz-controls input[type=radio] + label:after {
  content: '';
  position: absolute;
  left: -33px;
  top: -10px;
  margin: 4px;
  width: 28px;
  height: 28px;
  z-index: 0;
  transition: .2s ease-in;
  border: 2px solid black;
  border-radius: 50%;
}
.mz-controls input[type=radio]:not(:checked) + label {
  color: black !important;
}
.mz-controls input[type=radio]:checked + label {
  color: black;
}
.mz-controls input[type=radio]:checked + label:before {
  border-radius: 50%;
  border: 2px solid black;
}
.mz-controls input[type=radio]:checked + label:after {
  border-radius: 50%;
  border-color: black;
  background-color:black;
  z-index: 0;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.mz-controls input[type=checkbox] {
  opacity: 0;
  position: relative;
  z-index: 222;
  top: 7px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.mz-controls input[type=checkbox] + label {
  position: relative;
  z-index: 111;
  height: 10px;
  line-height: 25px;
  font-size: 14px;
  transition: .2s ease-in-out;
  padding-right: 1em;
}
.mz-controls input[type=checkbox] + label:before, .mz-controls input[type=checkbox] + label:after {
  font-family: 'FontAwesome';
  font-size: 24px;
  content: '\f096';
  color: #b6b6b6;
  position: absolute;
  left: -33px;
  top: -7px;
  margin: 4px;
  z-index: 0;
  transition: .2s ease-in;
  border-radius: 2px;
}
.mz-controls input[type=checkbox]:not(:checked) + label {
  color: #727272 !important;
}
.mz-controls input[type=checkbox]:checked + label {
  color: #428BCA;
}
.mz-controls input[type=checkbox]:checked + label:before {
  border: none;
}
.mz-controls input[type=checkbox]:checked + label:after {
  border-radius: 2px;
  border: none;
  color: #428BCA;
  font-size: 22px;
  content: '\f14a';
  z-index: 0;
  top: -8px;
}

/* BASIC STYLE, IGNORE IT------------------------------------------ */
* {
  box-sizing: border-box;
}

.tablealign{

 text-align: center;
 color: white;
}
.tablealign.p{

 text-align: center;
 color: white;
 font-size: 25px;
}



label.btn span {
  font-size: 1.5em ;
}
/* tbody {
  display:block;
  height:289px;
  overflow:auto;
} */
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: 100%;
}

* {
  box-sizing: border-box;
}

div.options > label > input {
  visibility: hidden;
}

div.options > label {
/*   display: block;
  margin: 0 0 0 -10px; */
  padding: 0 6px 20px 0;  
  height: 20px;
 /* width: 150px;*/

}

div.options > label > img {
  display: inline-block;
  padding: 0px;
  height:30px;
  width:30px;
  background: none;
  border-radius: 15px;
}

div.options > label > input:checked +img {  
  background: url(../../img/tick-png-image-97011.png);
  background-repeat: no-repeat;
  background-position:center center;
  background-size:30px 30px;
}

img{

  border: 2px solid !important;

}
@media ( min-width : 1281px) {
	.headerClass {
		text-align: right;
		padding-top: 10px;
	}
	.headerheading {
		font-size: 19px !important;
	}
	.emotionfont {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		color: white;
		padding-top: 10px;
	}
	.count {
		color: white;
		font-size: 20px;
		text-align: center;
	}
	.headertile {
		font-size: 22px;
		font-family: sans-serif;
		color: white;
		font-weight: bold;
		text-align: justify;
	}
	.queswidth {
		color: black;
		font-size: 18px;
		width: 23% !important;
		text-align: justify;
	}
	.tdwidth {
		width: 4% !important;
		font-size: 15px;
	}
	.tableClass {
		margin-top: 224px !important;
	}
	.table2class {
		margin-top: 398px;
	}
	.tdclo {
		background-color: #FFFDB9 !important;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
}

@media ( min-width : 1025px) and (max-width: 1280px) {
	.headerClass {
		text-align: right;
		padding-top: 10px;
	}
	.emotionfont {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		color: white;
		padding-top: 10px;
	}
	.headerheading {
		font-size: 19px !important;
	}
	.count {
		color: white;
		font-size: 20px;
		text-align: center;
	}
	.headertile {
		font-size: 22px;
		font-family: sans-serif;
		color: white;
		font-weight: bold;
		text-align: justify;
	}
	.queswidth {
		color: black;
		font-size: 18px;
		width: 23% !important;
		text-align: justify;
	}
	.tdwidth {
		width: 4% !important;
		font-size: 15px;
	}
	.tableClass {
		margin-top: 224px !important;
	}
	.table2class {
		margin-top: 398px;
	}
	.tdclo {
		background-color: #FFFDB9 !important;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
}

@media ( min-width : 481px) and (max-width: 767px) {
	.headerClass {
		text-align: right;
		padding-top: 10px;
	}
	.emotionfont {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		color: white;
		padding-top: 10px;
	}
	.count {
		color: white;
		font-size: 13px;
		text-align: center;
	}
	.headertile {
		font-size: 15px;
		font-family: sans-serif;
		color: white;
		font-weight: bold;
		text-align: justify;
	}
	.headerheading {
		font-size: 7px !important;
	}
	.queswidth {
		color: black;
		font-size: 7px;
		width: 23% !important;
		text-align: justify;
	}
	.tdwidth {
		width: 4% !important;
		font-size: 7px;
	}
	div.options>label {
		/* display: block; */
		/* margin: 0 0 0 -10px; */
		padding: 0 6px 20px 0;
		height: 20px;
		/*width: 150px;*/
	}
	div.options>label>input:checked+img {
		background-size: 18px 18px;
	}
	div.options>label>img {
		height: 23px;
		width: 23px;
	}
	.tableClass {
		margin-top: 195px !important;
	}
	.table2class {
		margin-top: 224px;
	}
	.tdclo {
		background-color: #FFFDB9 !important;
		text-align: center;
		font-weight: bold;
	}
}

@media ( min-width : 320px) and (max-width: 480px) {
	.headerClass {
		text-align: center;
		padding-top: 10px;
	}
	.emotionfont {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		color: white;
		padding-top: 10px;
	}
	.count {
		color: white;
		font-size: 10px;
		text-align: center;
	}
	.headertile {
		font-size: 12px;
		font-family: sans-serif;
		color: white;
		font-weight: bold;
		text-align: justify;
	}
	.headerheading {
		font-size: 7px !important;
	}
	.queswidth {
		color: black;
		font-size: 10px;
		width: 23% !important;
		text-align: justify;
	}
	.tdwidth {
		width: 4% !important;
		font-size: 7px;
	}
	div.options>label {
		/* display: block; */
		/* margin: 0 0 0 -10px; */
		padding: 0 6px 20px 0;
		height: 20px;
		/*width: 150px;*/
	}
	div.options>label>input:checked+img {
		background-size: 18px 18px;
	}
	div.options>label>img {
		height: 23px;
		width: 23px;
	}
	.tableClass {
		margin-top: 195px !important;
	}
	.table2class {
		margin-top: 224px;
	}
	.tdclo {
		background-color: #FFFDB9 !important;
		text-align: center;
		font-weight: bold;
	}
}

.fixed {
	top: 0;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1030;
}


